# NOTOS: eigenaar van deze fork. Upstream (CopilotKit/openbot) had hier vier CopilotKit-namen;
# die hebben geen rechten op AudienceFirst/notos-bots. ZUIDcontent is het GitHub-account van Mitch
# in de organisatie AudienceFirst.

*  @ZUIDcontent
